@charset "UTF-8";

/* CSS DOC */

* {
    box-sizing: border-box;
}

.dflex {
    display: flex;
}

#container {

    width: auto;
    flex-direction: row;
    justify-content: space-between;
}

/*left side nav*/

.sidebar {
    width: 24%;
    background-color: rgb(0, 61, 143, 1);
    position: fixed;
    height: 100%;

}

.head-div {
    margin-left: 50%;
}

.logo {
    margin-top: 2rem;
    align-items: center;
    width: 54%;
    margin-left: 42%;

}

.nav-menu {
    margin-top: 20%;
    margin-right: 27%;

}

.lien {
    display: flex;
    justify-content: end;
    margin-bottom: 3%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(87, 120, 184, 1);
}

/*main*/


#ensemble {
    width: 80%;
    margin-left: 24%;
}

/*main section.fond.titre*/

.titre {
    width: 50%;
    font-size: 8rem;
    color: rgba(230, 207, 136, 1);
    margin-left: 8%;
    padding-top: 8%;
}

.fond {
    background-image: url(/images/portrait.JPG);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

section {
    height: 100vh;
}

/*section 2 who is mark ?*/

.parent-who {
    position: relative;

}

.titre-who {
    padding-top: 5%;
    padding-left: 5%;
    width: 30%;
    font-size: 4rem;
    left: -10px;
    z-index: 2;
}

.trait-who {
    position: relative;
    width: 22rem;
    border-bottom: 7px solid rgba(230, 207, 136, 1);
    padding-top: 1.5rem;
    margin-left: -2.7rem;
    padding-bottom: 10px;

}

.who-p1 {
    width: 50%;
    margin-top: 7%;
    padding-left: 8%;
    font-family: arial;
    line-height: 1.2;
}

.carre {
    width: 6rem;
    height: 6rem;
    background-color: rgba(230, 207, 136, 1);
    border: none;
    margin-top: 7%;
    margin-left: 8%;
    font-weight: bold;
}

.lien-btn {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

/*section 3 leadership start*/

.part1 {
    width: 350%;
}

.img-leader {
    width: 100%;
    padding: 2.5rem;
}

.titre-leader {
    width: 20%;
    padding-bottom: 10px;
    font-size: 4rem;
    position: absolute;
    left: 410px;
}

.trait-leader {
    position: relative;
    width: 30rem;
    border-bottom: 7px solid rgba(230, 207, 136, 1);
    padding-top: 5.5rem;
    margin-left: -2.7rem;
    padding-bottom: 10px;

}

.awake {
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 1.4;
    padding-bottom: 12%;
}

.sec-part2-1 {
    margin-top: 13%;
    margin-left: 10%;
    margin-right: 30%;
}

.p-awake {
    line-height: 1.3;
    font-family: Arial
}

.p-part2-1 {
    line-height: 1.3;
    font-family: Arial
}

.sec-part2-2 {
    margin-top: 22%;
    padding-right: 10%;
}

.p-part2-2 {
    line-height: 1.3;
    font-family: Arial
}

.deliver {
    padding-top: 13%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.p2-part2-2 {
    padding-top: 13%;
    line-height: 1.3;
    font-family: Arial
}

/*section 3 leadership end*/


/*section 4 leadership start*/

.leader-article1 {
    margin-top: -15%;
}


.div1-leader {
    width: 50%;

}

.img-leader2 {
    margin-top: -3%;
    width: 100%;
    padding: 0% 3%;

}

.leader-p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    padding: 0% 17%;
}

.leader-p1,
.leader-p2,
.leader-p3 {
    padding-top: 1rem;
}

/*section 4 leadership end*/
/*section 5 mastering start*/
.titre-master {
    margin-left: 8%;
    margin-top: -21%;
    width: 50%;
    font-size: 4rem;
}

.sec-master {
    margin-top: 40%;
}

.img-master {
    padding-top: 17%;
    padding-right: 5%;
    padding-left: 10%;
    width: 100%;
}

.div-master1 {
    width: 50%;
}

.div-master2 {
    width: 50%;
    background-color: rgba(245, 249, 255, 1);

    padding-bottom: -10%;

}

.p-master {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    padding: 8% 14%;
}

/*section 5 mastering end*/

/*section 6 mastering start*/
.sec-master2-1 {
    width: 50%;
    padding: 5%;

}

.p1-master2-1 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

.p2-master2-1 {
    padding-top: 7%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

.h4-master {
    padding-top: 7%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.sec-master2-2 {
    width: 50%;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

.p2-master2-2 {
    padding-top: 7%;
}

/*section 6 mastering end*/

/*section 7 coaching start*/

.div-coach {
    margin-top: -20%;
}

.titre-coach {
    width: 20%;
    padding-bottom: 10px;
    font-size: 4rem;
    position: absolute;
    left: 410px;
}

.trait-coaching {
    position: relative;
    width: 25rem;
    border-bottom: 7px solid rgba(230, 207, 136, 1);
    padding-top: 6rem;
    margin-left: -2.7rem;
    padding-bottom: 10px;

}

.art-coach1 {
    margin-top: 13%;
    margin-right: 30%;
    margin-left: 15%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;


}

.img-coach {
    width: 25rem;
    margin-left: -35%;

}

.p2-coach {
    padding-top: 7%;
}


/*section 7 coaching end*/


/*section 8 coaching start*/

.artcle2-coach {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    padding-top: 3%;
}

.p1-div2-2-coach,
.p2-div2-2-coach,
.p4-div2-2-coach,
.p5-div2-2-coach {
    padding-bottom: 10%;
}

.div2-1-coach {
    margin: 0% 5%;
    padding-top: ;
    width: 50%;
}

.img-colleg {

    width: 100%;
}

.div2-2-coach {
    width: 30%;
    padding-right: 3%;
}

.div2-3-coach {
    width: 30%;
}

.titre-div2-coach {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-bottom: 10%;

}

.carre-coaching {
    width: 6rem;
    height: 6rem;
    background-color: rgba(230, 207, 136, 1);
    border: none;
    margin-top: 7%;
    font-weight: bold;

}

.lien-btn-coaching {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}



/*section 8 coaching end*/

/*section 9 band start*/

.band {
    text-align: center;
    justify-content: space-around;
    background-color: rgba(245, 249, 255, 1);
    margin-top: 37%;
    padding: 5%;
    font-size: 6rem;
}

.let {
    font-size: 2.5rem;
}

/*section 9 band end*/

/*section 10 testi start*/

.testi {
    padding-left: 12%;
    padding-bottom: 15%;
    justify-content: center;
    align-items: center;
}

.billy-img {
    width: 32.5%;
}

.h1-testi {
    width: max-content;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-left: 15%;
}

.h2-testi {
    width: max-content;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15%;

    left: 450px;
}

.trait-testi {
    width: 140px;
    border-bottom: 5px solid rgba(230, 207, 136, 1);
    padding-bottom: 10px;
}

.trait-testi2 {
    width: 186px;
    border-bottom: 5px solid rgba(230, 207, 136, 1);
    padding-bottom: 10px;
}

.raymond-img {
    width: 35%;
}

.cotes {
    margin-top: 21%;
    width: 25%;
}

.p-testi {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    font-size: 1.1rem;
    margin-top: 9%;
    margin-left: -29%;
    font-style: italic;
}

/*section 10 testi end*/

/*section 11 contact start*/

.contact-sec {
    margin-top: 5
}

.contact-titre {
    margin-top: -22%;
    margin-left: 5%;
    width: 20%;
    font-size: 4rem;
}

.trait-contact {
    position: relative;
    width: 22rem;
    border-bottom: 7px solid rgba(230, 207, 136, 1);
    padding-top: 1rem;
    margin-left: -2.7rem;
    padding-bottom: 10px;

}

/*section 11 contact end*/

/*section 12 form start*/

form {
    padding-top: 10%;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 6%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.details {
    padding-bottom: 0.5rem;
}

.dflexform {
    display: flex;
    flex-direction: column;
    padding: 1rem;

}

.l1 {
    width: 25%;
}

.input-l1 {
    height: 3rem;
    border: none;
    background-color: rgba(245, 249, 255, 1);
}

.l2 {
    width: 75%;
}

.input-l2 {
    height: 12rem;
    border: none;
    background-color: rgba(245, 249, 255, 1);
}

.p-form {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    font-size: 0.9rem;
    margin-top: -8%;
    padding-left: 20%;
    font-style: italic;
    text-transform: none;
}

.carre-form {
    width: 6rem;
    height: 6rem;
    background-color: rgba(230, 207, 136, 1);
    border: none;
    margin-top: 5%;
    margin-left: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

/*section 12 form end*/
/*section 13 adress start*/
.sec-adress {
    padding-top: 2rem;
    padding-left: 2rem;
    background-color: rgb(190, 209, 238);
    height: 8rem;
}

.adress {
    font-family: Arial, Helvetica, sans-serif;
}

.copy {
    padding-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

/*section 13 adress end*/